
ion-title {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

ion-card {
  margin: 10px;
}

ion-card-header {
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

ion-card-content p {
  font-weight: bold;
  padding: 0 15px;
}


.table-header {
  font-weight: bold;
}

.table-header ion-col {
  text-align: center;
  padding: 10px 0;
  border: 1px solid #dcdcdc;
}

ion-row:not(.table-header) ion-col {
  text-align: center;
  padding: 10px 0;
  border: 1px solid #dcdcdc;
}

.main-button {
  --border-radius: 10px;
  font-weight: bold;
  margin: 10px;
}

ion-col {
  font-size: 1em; /* Aumenta el tamaño de la fuente */
  text-align: center;
  
}

ion-row {
  font-size: 1em; /* Aumenta el tamaño de la fuente */
  font-weight: bold; /* Hace que el texto sea en negrita */
  
}

.small-font {
  font-size: 0.8em; // Puedes ajustar el tamaño a tu preferencia
}
