<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalles del Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <form *ngIf="order" >
      <!-- <ion-item>
        <ion-label position="stacked">Llave</ion-label>
        <ion-input type="number" name="llave" [(ngModel)]="order.TST_LLAVE" disabled></ion-input>
      </ion-item> -->
  

          <ion-item>
            <ion-label position="stacked">Código Físico</ion-label>
            <ion-input name="codigoFisico" [(ngModel)]="order.TST_CODIGO_FISICO" disabled></ion-input>
          </ion-item>



          <ion-item>
            <ion-label position="stacked">Tipo</ion-label>
            <ion-input name="TST_TIPO" [(ngModel)]="order.TST_TIPO" disabled></ion-input>
          </ion-item>



   
          <ion-item>
            <ion-label position="stacked">Fecha</ion-label>
            <ion-input name="TST_FECHA" [(ngModel)]="order.TST_FECHA" disabled></ion-input>
          </ion-item>



          <ion-item>
            <ion-label position="stacked">Cedula Cliente</ion-label>
            <ion-input name="TST_CLIENTE" [(ngModel)]="order.TST_CLIENTE" disabled></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Nombre Cliente</ion-label>
            <ion-input name="CMA_NOMBRE" [(ngModel)]="order.CMA_NOMBRE" disabled></ion-input>
          </ion-item>



          <ion-item>
            <ion-label position="stacked">Direccion</ion-label>
            <ion-input name="TST_DIRECCION" [(ngModel)]="order.TST_DIRECCION" disabled></ion-input>
          </ion-item>



          <ion-item>
            <ion-label position="stacked">Garantia</ion-label>
            <ion-input name="TST_GARANTIA" [(ngModel)]="order.TST_GARANTIA" disabled></ion-input>
          </ion-item>

      

          <ion-item>
            <ion-label position="stacked">Empresa</ion-label>
            <ion-input name="TST_EMPRESA" [(ngModel)]="order.TST_EMPRESA" disabled></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="stacked">Persona de Contacto</ion-label>
            <ion-input name="personaContacto" [(ngModel)]="order.TST_PERSONA_CONTACTO" (ngModelChange)="onChanges()"></ion-input>
          </ion-item>



            <ion-item>
              <ion-label position="stacked">Capacitación</ion-label>
              <ion-input name="capacitacion" [(ngModel)]="order.TST_CAPACITACION" (ngModelChange)="onChanges()"></ion-input>
            </ion-item>



      <ion-item>
        <ion-label position="stacked">Observaciones</ion-label>
        <ion-textarea name="observaciones" [(ngModel)]="order.TST_OBSERVACION" (ngModelChange)="onChanges()"></ion-textarea>
      </ion-item>



  <div class="button-container">
    <ion-button expand="block" class="save-changes-button" [disabled]="!changesMade" (click)="saveChanges()">
      Guardar Cambios
    </ion-button>
  </div>
    </form>

  

</ion-content>
